$primary: rgb(0, 91, 159);
/* Uncomment to hide site title
.td-navbar .navbar-brand__name {
  display: none;
} */

$td-enable-google-fonts: true;
$td-google-font-name: 'Roboto';
$td-google-font-family: 'Roboto:300,300i,400,400i,700,700i';
